body {
	font-family: helvetica;
	margin: 0 auto;
}

.container{
	max-width: 960px;
	margin: 0 auto;
}

header{
	color: white;
	background: #aaa;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
li{
	list-style-type: none;
}
nav a{
	padding: 2em;
	margin: 1em;
}